/*****************
LINK STYLES
*****************/

a {
	color: black;
}

a:hover {
	color: gray;
	text-decoration: none;
}

/*****************
BODY STYLES
*****************/

body {
	margin:40px;
}

/*****************
BUTTON STYLES
*****************/

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50%;
}

.btn-circle:active,
.btn-circle:focus,
.btn-circle:hover {
	outline: none !important;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 12px;
  line-height: 1.33;
  border-radius: 50%;
	border-style: solid;
}

.gray {
	background-color: #C4C4C4;
}
/*****************
ROW STYLES
*****************/

.compass {
	margin: 15px 0;
}

.compasslabel {
	font-weight: bold;
}


/*****************
DIV STYLES
*****************/

.center {
	float: none;
	margin: 0 auto;
}


.hid {
	display: none;
}

div #divnorth, #divsouth, #diveast, #divwest, #divdine, #divdance, #divdrink{
	display: none;
	position: absolute;
	text-align: left;
	color: gray;
}


#map {
	margin-left: 7%;
	margin-right: 10%;
	display: none;
}

#helpplay, #helpselect {
	text-align: center;
	display: none;
	margin: 15px auto;
}
